<main >

    <form [formGroup]="signupForm" class="signup-form" (ngSubmit)="doSignup()">
    
        <mat-card class="signup-form__card">
    
            <mat-card-header class="signup-form__card__header">
                <mat-card-title>Welcome to Demo!</mat-card-title>
            </mat-card-header>
    
            <mat-card-content class="signup-form__card__content">
                
                    <mat-form-field  appearance="outline" class="signup-form__card__content__form-control">
                        <mat-label>Enter your first name</mat-label>
                        <input matInput type="text" formControlName="firstName" placeholder="Your first name">
                        <mat-error 
                        *ngIf=" signupForm.controls.firstName.dirty && signupForm.controls.firstName.errors?.['required'] ">
                        First name is required
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="signup-form__card__content__form-control" >
                        <mat-label>Enter your last name</mat-label>
                        <input matInput type="text" formControlName="lastName" placeholder="Your last name">
    
                        <mat-error 
                        *ngIf=" signupForm.controls.lastName.dirty && signupForm.controls.lastName.errors?.['required'] ">
                        Last name is required
                        </mat-error>
    
                    </mat-form-field>
    
                    <mat-form-field appearance="outline"  class="signup-form__card__content__form-control">
                        <mat-label>Enter your email</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Your email">
    
                        <mat-error 
                        *ngIf=" signupForm.controls.email.dirty && signupForm.controls.email.errors?.['required'] ">
                        Email is required
                        </mat-error>
    
                        <mat-error 
                        *ngIf=" signupForm.controls.email.dirty && signupForm.controls.email.errors?.['email'] ">
                        Please enter a valid email
                        </mat-error>
    
                    </mat-form-field>
            
            </mat-card-content>
    
            <mat-card-actions class="signup-form__card__actions">
                <button 
                [disabled]="(authService.authenticatingUser$ | async)"
                [class.spinner]="(authService.authenticatingUser$ | async)"
                type="submit" 
                mat-raised-button 
                color="primary"
                >
                Sign Up
                </button>
            </mat-card-actions>
    
        </mat-card>
    
    </form>
    
</main>